<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koffice.menu.dao.menuDao">
	
	<resultMap type = "com.koffice.vo.menu.menuInfoVO" id = "menuMap">
		<result column = "MENU_CODE" 				property = "menuCode"/>
		<result column = "MENU_NAME" 				property = "menuName"/>
		<result column = "CATEGORY_CODE" 			property = "categoryCode"/>
		<result column = "MENU_PRICE" 				property = "menuPrice"/>
		<result column = "MENU_DETAIL" 				property = "menuDetail"/>
		<result column = "MENU_ST" 					property = "menuSt"/>
		<result column = "REG_DT" 					property = "regDt"/>
		<result column = "REG_ID" 					property = "regId"/>
		<result column = "CATEGORY_NAME" 			property = "categoryName"/>
		<result column = "MENU_IMAGE" 				property = "menuUrl"/>
		<result column = "RN" 						property = "rn"/>
	</resultMap>
	
	<select id ="selectMenuList" resultMap = "menuMap">
		SELECT *
		FROM (SELECT 
	    		A.MENU_CODE,
	    		A.MENU_NAME,
	    		B.CATEGORY_NAME,
	    		A.MENU_PRICE,
	    		A.MENU_DETAIL,
	    		A.MENU_ST,
	    		A.MENU_IMAGE,
	    		B.CATEGORY_CODE,
	    		ROWNUM RN
	    	FROM TBL_MENU_INFO A, TBL_CATEGORY_INFO B
	    	WHERE A.CATEGORY_CODE = B.CATEGORY_CODE
	    	<if test="menuName!=null and menuName!='' ">
			AND A.MENU_NAME LIKE '%'||#{menuName}||'%' 
			</if>
			<if test="categoryCode!=null and categoryCode!='' ">
			AND A.CATEGORY_CODE = #{categoryCode}
			</if>
			<if test="menuSt!=null and menuSt!='' ">
			AND A.MENU_ST = #{menuSt}
			</if>
			)
		WHERE RN<![CDATA[>]]>(#{currentPage}-1)*#{countPerPage}
	 	AND RN<![CDATA[<=]]>#{currentPage}*#{countPerPage}
	</select>
	
	<select id = "selectTotalMenuPageCnt" resultType = "integer">
		SELECT COUNT(*)
		FROM TBL_MENU_INFO A
		WHERE 1=1
		<if test="menuName!=null and menuName!='' ">
		AND A.MENU_NAME LIKE '%'||#{menuName}||'%' 
		</if>
		<if test="categoryCode!=null and categoryCode!='' ">
		AND A.CATEGORY_CODE = #{categoryCode}
		</if>
		<if test="menuSt!=null and menuSt!='' ">
		AND A.MENU_ST = #{menuSt}
		</if> 
	</select>
	
	<select id ="getCategory" resultMap = "menuMap">
		SELECT 
    		B.CATEGORY_NAME,
    		B.CATEGORY_CODE
    	FROM TBL_CATEGORY_INFO B
	</select>
	
	<insert id="insertMenu">
   		INSERT INTO TBL_MENU_INFO
    		(MENU_CODE, MENU_NAME, CATEGORY_CODE, MENU_PRICE, MENU_DETAIL, MENU_ST, MENU_IMAGE, REG_DT, REG_ID )
    	VALUES (#{menuCode}, #{menuName}, #{categoryCode}, #{menuPrice}, #{menuDetail}, #{menuSt},#{menuUrl},  SYSDATE, 'test1')
	</insert>
	
	<select id ="selectNewMenuCode" resultType = "String">
		SELECT CONCAT(#{categoryCode}, NVL(SUBSTR((NVL(MAX(MENU_CODE),'0000') + 1), -2),'01')) 
		FROM TBL_MENU_INFO
		WHERE CATEGORY_CODE = #{categoryCode}
	</select>
	
	<update id ="updateMenu">
		UPDATE TBL_MENU_INFO SET 
			MENU_NAME = #{menuName},
			CATEGORY_CODE = #{categoryCode},
			MENU_PRICE = #{menuPrice},
			MENU_DETAIL = #{menuDetail},
			MENU_ST = #{menuSt},
			MENU_IMAGE = #{menuUrl},
			REG_DT = SYSDATE,
			REG_ID = 'test1'
		WHERE MENU_CODE = #{menuCode}
	</update>
	

	
</mapper>
